/* Header */ 
.navbar{ padding: auto;
  
}


 header{
  padding-top: -50px;
 }

  

.form-group  {
  
  
  padding-right: 250px;

}

.container-form {

padding-top: 20px;
margin-left: 60px;
margin-right: 60px;

}

/*.form-row>[class*=col-] {
    padding-right: 15px;
    padding-left: 17px;
}


/* Header */

body{
  background-color: #A9A9A9; 
   
   background-image: url('../img/boite.jpg'); 
   background-size: cover, height:600px; 
   background-position: center;
   position: relative;
   color: white;
   

}

.register {
  height: 570px;
  width: 1000px;
  margin-top: 100px;
 margin-left: 15%;
 margin-right: 10%;
 background-color: #343a40; 

}
#register {

  margin-left: 300px;
  width: 30%;
  background-color: #53C2DB; 
  margin-top: 30px;
}

